*, *::after {
    box-sizing: border-box;
}
.minesweeper {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
}
.minesweeper-cell {
    padding: 0px;
    font-size:2em;
    width: 60px;
    height: 60px;    
    text-align: center;
    line-height: 0px;
}
.mined {
    background-image: url('../icons/mine.png');
    background-size: contain;
}
.flag {
    background-image: url('../icons/flag.png');
    background-size: contain;
}
.exploded {
    background-color: red;
}
.minesweeper-button {
    border: 1px solid black;
    border-radius: 0px;
    width: 60px;
    height: 60px;
}
.labelMinesMax {
    font-size: 1.2em;
    margin: 0px 10px;
    text-align: center;
}
.toolbox {
    display: flex;   
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.minesMax {
    display: flex;
    flex-direction: row;
    margin: 0;
}
input {
    margin: 2px;
    height: 20px;
}