*, *::after {
    box-sizing: border-box;
}
.minesweeper {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
}
.minesweeper-cell {
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 2em;
    text-align: center;
}
.mined {
    background-image: url('../icons/mine.png');
    background-size: contain;
}
.flag {
    background-image: url('../icons/flag.png');
    background-size: contain;
}
.exploded {
    background-color: red;
}
.minesweeper-button {
    border: 1px solid black;
    border-radius: 0px;
    width: 60px;
    height: 60px;
}
