*, *::after {
    box-sizing: border-box;
}
.minesweeper {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
}
.minesweeper-cell {
    height: 30px;
    width: 30px;
    padding: 0;
    border: 1px solid;
    background-color: #C0C0C0;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    text-align: center;
    
}
.mined {
    background-image: url('../icons/mine.png');
    background-size: contain;
}
.flag {
    background-image: url('../icons/flag.png');
    background-size: contain;
}
.exploded {
    background-color: red;
}
.minesweeper-button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0px;
    border-radius: 0px;
}
